[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
click = "*"
numpy = "*"
numba = "*"
sympy = "*"
colorama = "*"
scipy = "*"
matplotlib = "*"
mido = "*"
py-midi = "*"
termplotlib = "*"
termtables = "*"
python-rtmidi = "*"

[requires]
python_version = "3.8"
